* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
}
.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
}
main{
	flex-grow: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}


/* HEADER START */

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.site-header{
	padding: 30px 0;
	
}

.site-header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}

.site-header__nav-list{     
	display: flex;
	gap: 40px; 
}

.site-header__nav-link {
    font-size: 15px;
    font-weight: 400;
    position: relative; 
    display: inline-block;
    color: #000; 
    transition: color 0.3s ease; 
}

.site-header__nav-link::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 0;
    height: 1px; 
    background-color: #000; 
    transition: width 0.3s ease; 
}

.site-header__nav-link:hover {
    color: #000; 
}

.site-header__nav-link:hover::after {
    width: 100%; 
}

/* HEADER END */

/* HERO-1 START */
.main-heading__wrapper {
    margin-right: 20px;
    width: 490px;
}
.main-heading {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    line-height: 60px;
}

.main-subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: #777777;
    border-left: 3px solid #666;
    padding-left: 40px;
    margin: 30px 0;
}
.hero-section-div {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #ddd;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 145px 0 175px 0;
    overflow: hidden;
}
.hero-button {
    width: 260px;
    height: 51px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #EA625C;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.hero-button:hover {
    background-color: #EA625C;
}

.image-content {
    position: absolute;
    width: 587px;
    height: 565px;
    right: -212px;
    bottom: 0px;
}

/* HERO-1 START */